@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geomanist';
  src: url('fonts/Geomanist-BlackItalic.woff2') format('woff2'),
    url('fonts/Geomanist-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.menu-item {
  @apply font-geomanist text-7xl uppercase text-white transition-colors duration-300 hover:text-dark md:text-5xl sm:text-2xl;
}

.swiper {
  @apply h-fit w-full;
}

.swiper-slide {
  @apply flex justify-center;
}

/*! purgecss start ignore */
.swiper-slide.swiper-slide-active div {
  @apply opacity-100 transition-opacity duration-300;
}

.s2 img {
  @apply scale-75 xs:scale-50;
}

.s2 .swiper-slide-active img {
  @apply scale-100 transition-transform duration-300 sm:scale-90 xs:scale-75;
}
/*! purgecss end ignore */
